ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  

  .main {  display: grid;
    height: 100vh;
    
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Sidebar . . ."
      "Sidebar . . ."
      "Sidebar . . .";
  }
  
  .Sidebar {  display: grid;
    padding: 25px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #333;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "head head head head"
      "body body body body"
      "body body body body"
      "foot foot foot foot";
    grid-area: Sidebar;
  }
  
  .head { grid-area: head; }
  
  .body { grid-area: body; }
  
  .foot { grid-area: foot; }
  
  
  
 